---
import { supabase } from "../lib/supabase";
const { data, error } = await supabase.from("measurements").select();
console.log(data);
console.log(error);
const Temperatur = Astro.url.searchParams.get("Temperatur");
console.log(`Temperatur received: ${Temperatur}`);
if (Temperatur) {
    const { data, error } = await supabase
        .from("measurements")
        .insert({ Temperatur: parseInt(Temperatur), Tryk:0 });
    if (error) console.log(`Insert error: ${error}`);
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Micropy</title>
    </head>
    <body>
        <h1>Data</h1>
        <p id="response"></p>
        <ul>

        
        </ul>
    </body>
</html>
<script>
    // Skift til aktuel microcontroller IP!!!
    const ip = "192.168.4.1";
    const p = document.querySelector("#response");
    async function getData() {
        if (!ip) return;
        console.log(`Forbinder til: ${ip}`);
        let data = "";
        try {
            const res = await fetch(`http://${ip}`);
            data = await res.text();
        } catch (e) {
            console.log(e);
        }
        console.log(`Data modtaget: ${data}`);
        p.innerHTML = data;
    }
    getData();
</script>
