---
import '../css/generalstyle.css';
import { supabase } from "../lib/supabase";
const { data, error } = await supabase.from("measurements").select();
console.log(data);
console.log(error);
const Temperatur = Astro.url.searchParams.get("Temperatur");
console.log(`Temperatur received: ${Temperatur}`);
const Tryk = Astro.url.searchParams.get("Tryk");
console.log(`Tryk received: ${Tryk}`);
if (Tryk||Temperatur) {
    const { data, error } = await supabase
        .from("measurements")
        .insert({ Tryk: parseInt(Tryk), Temperatur: parseInt(Temperatur) });
    if (error) console.log(`Insert error: ${error}`);
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Micropy</title>  
    </head>
    <body>
        <div class="topnav">
            <a class="small" href="/"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.iconsdb.com%2Ficons%2Fdownload%2Fwhite%2Farrow-121-512.png&f=1&nofb=1&ipt=8d9dd49a1cb8b921ce939576cd0d6c0b69f42f4bad36f88b163f3f3133dc86ab&ipo=images" height="51" width="51"/></a>
            <a class="active large" href="/data">Måling</a>
            <a class="large" href="/log">Log</a>
        </div>
        <div class="sidenav">
            <a class="active1" href="/data">Lige nu</a>
            <a href="/termometer">Termometer</a>
            <a href="/barometer">Barometer</a>
        </div>
        <div class="main">
            <p class="titel">Nyeste måling:</p>
            {data.length > 0 && (
            <span class="list-text">
                Trykket er: {data[data.length - 1].Tryk}
            </span>
            <span class="list-text">
                Temperaturen er: {data[data.length - 1].Temperatur}
            </span>
            )}
        </div>
        <ul>
        </ul>
    </body>
</html>

<script>
    // Skift til aktuel microcontroller IP!!!
    const ip = "192.168.4.1";
    const p = document.querySelector("#response");
    async function getData() {
        if (!ip) return;
        console.log(`Forbinder til: ${ip}`);
        let data = "";
        try {
            const res = await fetch(`http://${ip}`);
            data = await res.text();
        } catch (e) {
            console.log(e);
        }
        console.log(`Data modtaget: ${data}`);
        p.innerHTML = data;
    }
    getData();
    
    setInterval(function() {
        location.reload(); // Genindlæs siden
    }, 4000);
</script>

<style>
    .titel {
        font-size: 30px;
    }
</style>